$font: 'Plus Jakarta Sans', sans-serif;

$font-weights: (
  'heading-xl': 800,
  'heading-l': 800,
  'heading-m': 800,
  'heading-s': 800,
  'body-m': 500,
  'body-s': 700,
);

$font-sizes: (
  'heading-xl': 3.5rem,
  'heading-l': 2.5rem,
  'heading-m': 2rem,
  'heading-s': 1.5rem,
  'body-m': 1.125rem,
  'body-s': 1rem,
);

$line-heights: (
  'heading-xl': 1.25em,
  'heading-l': 1.275em,
  'heading-m': 1.25em,
  'heading-s': 1.167em,
  'body-m': 1.5556em,
  'body-s': 1.75em,
);
