// Colors

$dark-blue-gray: hsl(234, 25%, 52%);
$yankees-blue: hsl(233, 54%, 16%);
$roman-silver: hsl(232, 10%, 56%);
$sasquatch-socks: hsl(341, 92%, 62%);
$carnation-pink: hsl(341, 100%, 83%);
$white: hsl(0, 0%, 100%);

// Gradients

$orange-pink-background: hsl(322, 87%, 55%);
$orange-pink-gradient: linear-gradient(
  0deg,
  hsl(322, 87%, 55%) 0%,
  hsl(13, 100%, 64%) 100%
);

$blue-pink-background: hsl(237, 100%, 64%);
$blue-pink-gradient: linear-gradient(
  0deg,
  hsl(322, 87%, 55%) 0%,
  hsl(237, 100%, 64%) 100%
);
