@use '../utilities/variables' as var;

.courses {
  width: 100%;
  display: flex;
  justify-content: center;

  max-width: var.$max-width;
  padding-block: clamp(1rem, 3.25vw, 1.5rem);
  margin-inline: clamp(1rem, 4vw, 2.5rem);
  @media (min-width: 570px) {
    margin-inline: clamp(1rem, 5.5vw, 2.5rem);
  }
  @media (min-width: calc(var.$max-width + 2.5rem)) {
    margin-inline: auto;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var.$max-width;

  padding: 1rem;
  gap: clamp(0.625rem, 1vw, 1.875rem);
  justify-content: center;
  align-content: space-between;
}
