@use '../utilities/variables' as var;

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: var.$max-width;
  margin-inline: clamp(1rem, 4vw, 2.5rem);
  @media (min-width: 570px) {
    margin-inline: clamp(1rem, 5.5vw, 2.5rem);
  }
  @media (min-width: calc(var.$max-width + 2.5rem)) {
    margin-inline: auto;
  }

  gap: clamp(0.625rem, 1vw, 1.875rem);
  justify-content: center;
  align-content: space-between;
}
