@use '../utilities/variables' as var;

.introduction {
  max-width: var.$max-width;

  margin-inline: clamp(1rem, 4vw, 2.5rem);
  @media (min-width: 570px) {
    margin-inline: clamp(1rem, 5.5vw, 2.5rem);
  }
  @media (min-width: calc(var.$max-width + 2.5rem)) {
    margin-inline: auto;
  }

  @media (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__wrapper-first {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1.5rem;
    max-width: 398px;

    @media (min-width: 600px) {
      flex: 0 1 62.5%;
    }

    @media (min-width: 800px) {
      max-width: 457px;
    }
  }

  &__wrapper-second {
    margin: 0 auto;
    & .stats__picture-container {
      margin: 0 auto;
    }
    & img {
      display: block;
      width: 100%;
    }

    @media (min-width: 600px) {
      max-width: 50%;
      position: absolute;
      right: 0;
      transform: translateX(2rem);
      z-index: -1;
    }
  }

  &__header {
    margin: 0;
  }

  &__description {
    padding: 0;
  }

  &__button {
    align-self: flex-start;
  }
}
