@use '../utilities/variables' as var;
@use '../utilities/typography' as font;
@use 'sass:map';

.card {
  border-radius: 0.5rem;
  background-color: var.$white;

  &__header {
    font-weight: map.get(font.$font-weights, 'body-s');
    font-size: map.get(font.$font-sizes, 'body-m');
    line-height: map.get(font.$line-heights, 'heading-s');
  }

  &--pink {
    background-color: var.$orange-pink-background;
    background-image: var.$orange-pink-gradient;
    color: var.$white;
  }

  &__text {
    color: var.$roman-silver;
    font-weight: map.get(font.$font-weights, 'body-m');
    font-size: map.get(font.$font-sizes, 'body-s');
    line-height: map.get(font.$line-heights, 'body-s');
  }
}
