@use '../utilities/variables' as var;

.courses-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var.$white;
  background-image: linear-gradient(180deg, transparent 0%, #f0f1ff 100%);
}
