@use '../utilities/variables' as var;
@use '../utilities/typography' as font;
@use 'sass:map';

.introduction {
  &__header {
    font-size: map.get(font.$font-sizes, 'heading-l');
    font-weight: map.get(font.$font-weights, 'heading-l');
    line-height: map.get(font.$line-heights, 'heading-l');

    @media (min-width: 1000px) {
      font-size: map.get(font.$font-sizes, 'heading-xl');
      font-weight: map.get(font.$font-weights, 'heading-xl');
      line-height: map.get(font.$line-heights, 'heading-xl');
    }

    color: var.$yankees-blue;
  }

  &__description {
    font-size: map.get(font.$font-sizes, 'body-s');
    font-weight: map.get(font.$font-weights, 'body-m');
    line-height: map.get(font.$line-heights, 'body-s');

    @media (min-width: 1000px) {
      font-size: map.get(font.$font-sizes, 'body-m');
      font-weight: map.get(font.$font-weights, 'body-m');
      line-height: map.get(font.$line-heights, 'body-m');
    }

    color: var.$roman-silver;

    &--nowrap {
      white-space: nowrap;
    }
  }
}
