@use '../utilities/typography' as font;

:root {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: font.$font;
  overflow: hidden;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}
